<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<div layout:fragment="content">
    <form th:action="@{'/students/{id}'(id=${student.id})}" th:method="put" >
        <div class="form-group">
            <p>Mentor id: <input type="text" id="mentorId" name="mentorId" th:value="${student.mentorId}"/></p>

            <p>First name: <input type="text" id="firstName" name="firstName" th:value="${student.firstName}"/></p>

            <p>Last name: <input type="text" id="lastName" name="lastName" th:value="${student.lastName}"/></p>

            <p>First name: <input type="text" id="email" name="email" th:value="${student.email}"/></p>

            <p>Suffix: <input type="text" id="suffix" name="suffix" th:value="${student.suffix}"/></p>

            <p>Password: <input type="text" id="password" name="password" th:value="${student.password}"/></p>

            <p>Date of Birth: <input type="text" id="dob" name="dob" th:value="${student.dob}"/></p>

            <p>School: <input type="text" id="school" name="school" th:value="${student.school}"/></p>

            <p>Grade: <input type="text" id="grade" name="grade" th:value="${student.grade}"/></p>

            <p>Tasks:
                <select id="tasks" name="tasks" multiple="multiple">
                    <option th:each="element : *{allTasks}" th:value="${element}" th:text="${element}"
                            th:selected="${student.tasks.contains(element)}"></option>
                </select>
            </p>

            <p>Report Card:
                <select id="reportCards" name="reportCards" multiple="multiple">
                    <option th:each="element : *{allReportCards}" th:value="${element}" th:text="${element}"
                            th:selected="${student.reportCards.contains(element)}"></option>
                </select>
            </p>

            <p>Progress Report:
                <select id="progressReports" name="progressReports" multiple="multiple">
                    <option th:each="element : *{allProgressReports}" th:value="${element}" th:text="${element}"
                            th:selected="${student.progressReports.contains(element)}"></option>
                </select>
            </p>

            <p>Father Id: <input type="text" id="fatherId" name="fatherId" th:value="${student.fatherId}"/></p>

            <p>Mother Id: <input type="text" id="motherId" name="motherId" th:value="${student.motherId}"/></p>

            <p>Guardian 1: <input type="text" id="guardianId1" name="guardianId1" th:value="${student.guardianId1}"/></p>

            <p>Guardian 2: <input type="text" id="guardianId2" name="guardianId2" th:value="${student.guardianId2}"/></p>

            <p>Number: <input type="text" id="number" name="number" th:value="${student.number}"/></p>

            <p>Address 1: <input type="text" id="address1" name="address1" th:value="${student.address1}"/></p>

            <p>Address 2: <input type="text" id="address2" name="address2" th:value="${student.address2}"/></p>

            <p>City: <input type="text" id="city" name="city" th:value="${student.city}"/></p>

            <p>State: <input type="text" id="state" name="state" th:value="${student.state}"/></p>

            <p>Zip: <input type="text" id="zip" name="zip" th:value="${student.zip}"/></p>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>