<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

        <p>Mentor id: <span th:text="${student.mentorId}"></span> </p>

        <p>First name:  <span th:text="${student.firstName}"></span></p>

        <p>Last name: <span th:text="${student.lastName}"></span></p>

        <p>First name: <span th:text="${student.email}"></span></p>

        <p>Suffix: <span th:text="${student.suffix}"></span></p>

        <p>Password: <span th:text="${student.password}"></span></p>

        <p>Date of Birth: <span th:text="${student.dob}"></span></p>

        <p>School: <span th:text="${student.school}"></span></p>

        <p>Grade: <span th:text="${student.grade}"></span></p>
        <!--<input type="text" id="tasks" name="tasks"/>-->
        <!--<input type="text" id="reportCards" name="reportCards"/>-->
        <!--<input type="text" id="progressReports" name="progressReports"/>-->

        <p>Father Id: <span th:text="${student.fatherId}"></span></p>

        <p>Mother Id: <span th:text="${student.motherId}"></span></p>

        <p>Guardian 1: <span th:text="${student.guardianId1}"></span></p>

        <p>Guardian 2: <span th:text="${student.guardianId2}"></span></p>

        <p>Number: <span th:text="${student.number}"></span></p>

        <p>Address 1: <span th:text="${student.address1}"></span></p>

        <p>Address 2: <span th:text="${student.address2}"></span></p>

        <p>City: <span th:text="${student.city}"></span></p>

        <p>State: <span th:text="${student.state}"></span></p>

        <p>Zip: <span th:text="${student.zip}"></span></p>

</html>